# Copy to .env.databases before starting the database containers.

# Grafana config
GF_SERVER_DOMAIN=localhost
GF_SERVER_ROOT_URL=http://localhost:3001/
GF_SERVER_SERVE_FROM_SUB_PATH=false

# Grafana accounts
GF_AUTH_ANONYMOUS_ENABLED=true
GRAFANA_ADMIN_PASSWORD=byteme
GRAFANA_READONLY_LINUX_PASSWORD=byteme
GRAFANA_READONLY_WINDOWS_PASSWORD=byteme

# Prometheus
PROMETHEUS_SERVER=http://localhost:9090  #https://itdlhrisdev500.ci.seattle.wa.us
PROMETHEUS_PASSWORD=byteme

# Alert relay - Lambda IAM
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ALERT_WEBHOOK_PASSCODE=byteme

HIMS_DB_ORACLE_PASSWORD=


HIMS_WEB_DEV_METRICS_TOKEN=byteme
HIMS_WEBSERVICE_DEV_METRICS_TOKEN=byteme
HRIS_AUTH_API_METRICS_TOKEN=byteme
HRIS_CARD_API_DEV_METRICS_TOKEN=byteme
